<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="newConnectionString" connectionString="Data Source=HULIN\MSSQLSERVER1;Initial Catalog=novel;User=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
